<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <link rel='stylesheet' href='/css/main.css' />
</head>

<body>
    <nav class="nav-container">
        <h1 class="logo"><a href="#">Brand</a></h1>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/author">Author</a></li>
            <li><a href="/author/new">Add Author</a></li>
        </ul>
    </nav>