* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 1rem !important ;
}

/* Home page style */
#header {
	width: 100%;
	height: 50vh;
	color: white;

	padding: 3rem;
	background-image: url("https://img.freepik.com/free-photo/front-view-pile-books-with-copy-space_23-2148255858.jpg?size=626&ext=jpg");
	background-size: cover;
}

#header h1 {
	font-size: 7rem;
	font-weight: 100;
}

/* Navbar */
.nav-container {
	display: flex;
}

.navigation {
	display: flex;
}

.navigation li {
	list-style: none;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}

.book-results {
	display: flex;
}

.book-results-item {
	margin: 0 1rem;
}
