body {
	margin-top: 1rem !important ;
}

.nav-container {
	display: flex;
}

.navigation {
	display: flex;
}

.navigation li {
	list-style: none;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}

.book-results {
	display: flex;
}

.book-results-item {
	margin: 0 1rem;
}
