<%- include("./../partials/top") %>

<h1>Search</h1>

<form action="/authors" , method="GET">
  <input type="text" name="authorName" value="<%= query %>">
  <input type="submit" value="Search">
</form>

<ul>


  <% if(authors.length) { %>

  <% authors.forEach(author => { %>
  <li> <%= author.name %> </li>
  <% }) %>

  <% } else { %>

  <p>Not found.</p>
  <% } %>

</ul>

<%- include("./../partials/bottom") %>