<%- include("./../partials/top") %>

<form action="/authors" method="POST">
    <input type="text" name="authorName">
    <input type="submit" value="Submit">
    <a href="/author">Cancel</a>
</form>

<%- include("./../partials/bottom") %>